
<div class="lSide-bar large" id="side-menu">
	<div class="float-r m-can" id="cancel">
		<i class="fas fa-arrow-alt-circle-left" id="cancel-icon"></i>
		
	</div>
	
	<h3 class="card-header">
		
		<div class="logo">
			<!--i class="fa fa-hand-holding-heart fa-3x c-r"></i--> YTk  
		</div>
	</h3>
	
	<div class="card">
		<a href="{% url 'dashboard' %}"><li class="side-itm"><i class="far fa-address-card"></i> Profile </li></a>
		<a href="{% url 'edit' %}"><li class="side-itm"><i class="fa fa-edit"></i> edit </li></a>
		<a href="{% url 'password_change' %}"><li class="side-itm"><i class="fa fa-user-lock"></i> password </li></a>
		<a href="{% url 'posts' %}"><li class="side-itm"><i class="fas fa-home"></i> posts </li></a>
	</div>
	<div class="side-itms">
		
		
	</div>

	
</div>
	
