{% extends "base.html" %}
{% block title %}Change your password{% endblock %}



{% block form_content %}
	<div class="card col-6">
		<div class="form">
			<h1 class="form-header">Change your password</h1>
			<p>Use the form below to change your password.</p>
			<form method="post" class="form-b">
				
				{% for i in form %}
					<div class="input">
						<label class="c-b">{{ i.label }}</label><br>
						{{ i }}<br>
						
					</div>
					
					{% if form.errors %}
						<div class="c-g">
							{{ i.help_text }}
							
						</div>
					{% endif %}
					
				{% endfor %}
				
				<!--p><input class="btn-b" type="submit" value="Change" ></p-->
				<button class="btn-b" type="submit"> Change </button>
				{% csrf_token %}

			</form>
		</div>
		
	</div>
{% endblock %}

#password_change_form